src/**
tsconfig.json
**/*.test.js
**/*.test.ts
node_modules/**
!node_modules/@vscode/**
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.vscodeignore
build-webview.js
tsconfig.json
vsc-extension-quickstart.md
node_modules/**
**/*.map
**/*.ts
**/*.tsx
